﻿@model IEnumerable<CRMFacilitoInicial.Models.Actividad>
@{
    ViewBag.Title = "Index";
}
@if (User.IsInRole("AdminAgenda") || User.IsInRole("Admin"))
{
    <p>
        <a class="btn btn-default" data-target="#modal-crear" data-toggle="modal"
           href="/Actividades/Create">Crear nueva</a>
    </p>
}
<div id="calendar">
</div>
<div class="modal fade" id="modal-crear" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
<div class="modal fade" id="modal-editar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
</div>
@section Scripts {
    <script src="@Url.Content("~/Scripts/moment.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fullcalendar.js")"></script>
    <script src="@Url.Content("~/Scripts/lang/es.js")"></script>
    <script>
        
        $(document).ready(function () {

            $("#calendar").fullCalendar({
                events: 'Actividades/Eventos'
            });

        });
        
    </script>
}
