@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron " >
   

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Recursos Humanos</h2>
        <ul class="list-group">
            <li class="list-group-item">Documentos 1</li>
            <li class="list-group-item">Documentos 2</li>
            <li class="list-group-item">Documentos 4</li>    
        </ul>
        <p><a class="btn btn-default" href="#">Leer Mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>IT</h2>
        <ul class="list-group">
            <li class="list-group-item">Documentos 1</li>
            <li class="list-group-item">Documentos 2</li>
            <li class="list-group-item">Documentos 4</li>
        </ul>
        <p><a class="btn btn-default" href="#">Leer mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tutoriales de sistemas</h2>
        <ul class="list-group">
            <li class="list-group-item">Video tutoriales</li>
            <li class="list-group-item">Manuales TCO</li>
            <li class="list-group-item">Manuales Next Custom</li>
      
        </ul>
        <p><a class="btn btn-default" href="#">Leer mas &raquo;</a></p>
    </div>
</div>